<!DOCTYPE html>
<html>
<head>
	<title>SGFI - Contacto</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'sgfi/css/contacto.css' %}">
	<link rel="shortcut icon" href="{% static 'sgfi/img/favicon.ico' %}" />
	<meta charset="utf-8">
</head>
<body>
	
	<div class= container>
	<h1>Contactenos<br>Nuestro equipo</h1>
		<div class= cont-contacto>
			<div class= persona>
			<img src="{% static 'sgfi/img/fotochris.png' %}" class="foto" alt="Imagen chris">
			<h2>Christian G Ramirez</h2>
			<h3>Jefe creativo</h3>	
			<p>Estudiante ingenieria, Unisverisdad Distrital</p>
			<p><span>Email: </span> cgramirezm@correo.udistrital.edu.co</p>
			<p><span>Telefono: </span> 319 5593480</p>
			<p><a href="https://www.facebook.com/crisgrm/"><img src="{% static 'sgfi/img/facebook.png' %}" class="face" alt="icono facebook"></a>
			<a href="https://www.instagram.com/chrissgrm/"><img src="{% static 'sgfi/img/instagram.png' %}" class="insta" alt="icono insta"></a></p>
			</div>
			<div class= persona><img src="{% static 'sgfi/img/fotojhon.png' %}" class="foto" alt="Imagen chris">
			<h2>Jhon S Pulido</h2>	
			<h3>Desarrollador Jefe</h3>					
			<p>Estudiante ingenieria, Unisverisdad Distrital</p>
			<p><span>Email: </span> jspulidop@correo.udistrital.edu.co</p>
			<p><span>Telefono: </span> 320 3041040</p>
			<p><a href="https://www.facebook.com/Worxten/"><img src="{% static 'sgfi/img/facebook.png' %}" class="face" alt="icono facebook"></a>
			<a href="https://www.instagram.com/worxten/"><img src="{% static 'sgfi/img/instagram.png' %}" class="insta" alt="icono insta"></a></p>
			</div>	
		</div>
	</div>

</body>
</html>