<!DOCTYPE html>
<html>
<head>
	<title>SGFI - FAQ</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'sgfi/css/faq.css' %}">
	<link rel="shortcut icon" href="{% static 'sgfi/img/favicon.ico' %}" />
	<meta charset="utf-8">
</head>
<body>
	<div class= container>
		<div class= faqs>
			<h1> SGFI - FAQs</h1>
			<ol>
				<li><h2>¿Como recupero o cambio mi contraseña?</h2><p>El proceso de recuperacion de contraseña es simple, basta con hacer click en 
				la opcion olvide mi contraseña en el login y seguir los pasos, tambien es posible cambiar la contraseña desde el menu de opciones de usuario				
				</p>
				</li>
				<li><h2>¿Como puedo entrar al sistema como usuario?</h2><p>Para ingersar al sistema como usuario, basta con ingresar el nombre de su
				empresa y la contraseña respectiva en la parte del loggin y dar click al boton ingresar</p>
				</li>
				<li><h2>¿Como puedo entrar al sistema como administrador?</h2><p>Para ingresar como administrador se entra con el usuario admin 
				y la contraseña respectiva en el loggin, luego se da click en ingresar.</p>
				</li>
				<li><h2>¿Como puedo realizar una factura a mi nombre?</h2><p>a la hora de realizar una factura se debe elegir el empleado que esta 
				realizando dicha factura, este empleado debe estar dentro de los usuarios creados por la empresa.</p>
				</li>
				<li><h2>No puedo hacer facturas a mi nombre ¿que debo hacer?</h2><p>Debe comunicarse con su empresa y verificar que su usuario haya sido creado 
				en el espacio de crear empleados. el proceso debe ser gestionado por un usuario adminitrador de su empresa </p>
				</li>
			</ol>
		</div>
	</div>
			
	
</body>
</html>